<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smates.dbc2.mapper.UserDao">

	<resultMap id="BaseResultMap" type="user">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="accountNumber" property="accountNumber"
			jdbcType="CHAR" />
		<result column="nickName" property="nickName" jdbcType="CHAR" />
		<result column="password" property="password" jdbcType="CHAR" />
		<result column="role" property="role" jdbcType="INTEGER" />
		<result column="createDate" property="createDate" jdbcType="CHAR" />
		<result column="e_mail" property="eMail" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, accountNumber,nickName, password, role, createDate, e_mail
	</sql>

	<!-- des: 根据accountNumber查找user example sql: select * from s_user where 
		accountNumber = admin -->
	<select id="selectByAccountNumber" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select *
		from s_user
		where s_user."accountNumber" = #{accountNumber}
	</select>

</mapper>