<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smates.dbc2.mapper.WatershedParaDao">

	<!-- 保存气候情景参数 -->
	<insert id="addTblClimateScePara" parameterType="TblClimateScePara">
		INSERT INTO
		"a_tblClimateScePara"
		VALUES(#{projectId},#{countryId},#{rainInc},#{tempInc})
	</insert>

	<!-- 根据id删除气候情景参数 -->
	<delete id="deleteTblclimateSceParaById" parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId">
		delete
		from "a_tblClimateScePara" where "a_tblClimateScePara"."projectId" =
		#{projectId} and "a_tblClimateScePara"."countryId" = #{countryId}
	</delete>

	<!-- 查找气候情景参数 -->
	<select id="getTblClimateSceParaByProjectIdAndCountryId"
		parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId" resultType="TblClimateScePara">
		SELECT * from "a_tblClimateScePara" where
		"a_tblClimateScePara"."projectId" =#{projectId} and
		"a_tblClimateScePara"."countryId" =#{countryId}
	</select>
	
	<!-- 查找气候情景参数  -->
	<select id="getTblClimateSceParaByProjectId" parameterType="String" resultType="TblClimateScePara">
		SELECT * from "a_tblClimateScePara" where
		"a_tblClimateScePara"."projectId" =#{projectId}
	</select>

	<!-- 添加产业与城市发展情景参数 -->
	<insert id="addTblIndUrbanScePara" parameterType="TblIndUrbanScePara">
		insert INTO
		"a_tblIndUrbanScePara"
		VALUES(#{projectId},#{countryId},#{nonFarmPercent},#{fldIndOutput},#{fldIndOutputPercent},#{fldAgrOutput},#{fldAgrOutputPercent},#{fldSerOutput},#{fldSerOutputPercent},#{industryProgressRate},#{changeRateOfTourismIndustry})
	</insert>

	<!-- 根据id删除产业与城市发展情景参数 -->
	<delete id="deleteTblIndUrbanScePara" parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId">
		delete
		from
		"a_tblIndUrbanScePara" where "a_tblIndUrbanScePara"."projectId" =
		#{projectId} and "a_tblIndUrbanScePara"."countryId" = #{countryId}
	</delete>

	<!-- 查找产业与城市发展情景参数 -->
	<select id="getTblIndUrbanSceParaByProjectIdAndCountryId"
		parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId" resultType="TblIndUrbanScePara">
		SELECT * from "a_tblIndUrbanScePara" where
		"a_tblIndUrbanScePara"."projectId" =#{projectId} and
		"a_tblIndUrbanScePara"."countryId" =#{countryId}
	</select>

	<!-- 添加土地资源利用情景参数 -->
	<insert id="addTbLanduseScePara" parameterType="tbLanduseScePara">
		insert INTO
		"a_tbLanduseScePara" VALUES
		(#{projectId},#{countryId},#{fldFarmAreaChgR},#{wheatChgR},#{cornChgR},#{oilPlantsChgR},#{vegetablesChgR},#{orchardChgR},#{cottonChgR},#{wheatArea},#{cornArea},#{oilPlantsArea},#{vegetablesArea},#{orchardArea},#{cottonArea},#{WetlandArea},#{ForestArea},#{GrassArea},#{WaterArea})
	</insert>

	<!-- 删除土地资源利用情景参数 -->
	<delete id="deleteTbLanduseScePara" parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId">
		delete
		from
		"a_tbLanduseScePara" where "a_tbLanduseScePara"."projectId" =
		#{projectId} and "a_tbLanduseScePara"."countryId" = #{countryId}
	</delete>

	<!-- 查找土地资源利用情景参数 -->
	<select id="getTbLanduseSceParaByProjectIdAndCountryId"
		parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId" resultType="TbLanduseScePara">
		SELECT * from "a_tbLanduseScePara" where
		"a_tbLanduseScePara"."projectId" =#{projectId} and
		"a_tbLanduseScePara"."countryId" =#{countryId}
	</select>

	<!-- 添加社会经济发展情景参数 -->
	<insert id="addTbSocioEconomyScePara" parameterType="tbSocioEconomyScePara">
		insert INTO
		"a_tbSocioEconomyScePara" VALUES
		(#{projectId},#{countryId},#{perCapGDPR},#{fldMainCannelLeng},#{fldMainCanWUE},#{fldBranCannelLeng},#{fldBranCanWUE},#{fldDouLeng},#{fldDouWUE},#{fldNongLeng},#{fldNongWUE},#{fldMaoLeng},#{fldMaoWUE},#{fldSprinkingArea},#{fldDropIrrArea},#{fldIndustryAllowance},#{fldFarmAllowance},#{fldServiceAllowance})
	</insert>

	<!-- 删除社会经济发展情景参数 -->
	<delete id="deleteTbSocioEconomyScePara" parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId">
		delete
		from "a_tbSocioEconomyScePara" where
		"a_tbSocioEconomyScePara"."projectId" =
		#{projectId} and
		"a_tbLanduseScePara"."countryId" = #{countryId}
	</delete>

	<!-- 查找土地资源利用情景参数 -->
	<select id="getTbSocioEconomySceParaByProjectIdAndCountryId"
		parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId" resultType="TbSocioEconomyScePara">
		SELECT * from "a_tbSocioEconomyScePara" where
		"a_tbSocioEconomyScePara"."projectId" =#{projectId} and
		"a_tbSocioEconomyScePara"."countryId" =#{countryId}
	</select>

	<!-- 添加水资源管理情景县区用水量参数 -->
	<insert id="addTbWaterManSceCWPara" parameterType="TbWaterManSceCWPara">
		INSERT into
		"a_tbWaterManSceCWPara"
		VALUES(#{id},#{fldWatershedCode},#{fldProjectCode},#{fldCountyCode},#{fldDate},#{fldSurfaceWater},#{fldGroundWater})
	</insert>

	<!-- 添加水资源管理情景流域中下游用水量参数表 -->
	<insert id="addTbWaterManSceMDPara" parameterType="tbWaterManSceMDPara">
		INSERT into
		"a_tbWaterManSceMDPara"
		VALUES(#{id},#{fldWatershedCode},#{fldProjectCode},#{fldCountyCode},#{fldDate},#{fldWaterUseMid},#{fldWaterUseDown})
	</insert>

	<!-- 添加水资源管理情景县区水权分配参数表 -->
	<insert id="addTbWaterManSceWRPara" parameterType="TbWaterManSceWRPara">
		INSERT into
		"a_tbWaterManSceWRPara"
		VALUES(#{fldWatershedCode},#{fldProjectCode},#{fldCountyCode},#{fldDate},#{fldWaterRightRatio})
	</insert>

	<!-- 删除水资源管理情景县区水权分配参数表 -->
	<delete id="deleteTbWaterManSceWRPara" parameterType="ProjectIdAndCountyId">
		delete	from "a_tbWaterManSceWRPara" where
		"a_tbWaterManSceWRPara"."fldProjectCode" = #{projectId} and "a_tbWaterManSceWRPara"."fldCountryCode" = #{countryId}
	</delete>

	<!-- 添加水资源管理，中下游水分配 -->
	<insert id="addMidAndDownStreamPercentPara" parameterType="MidAndDownStreamPercentPara">
		insert into "a_MidAndDownStreamPercentPara"
		values(#{projectId},#{watershedId},#{serfaceWater},#{midstreamPercent},#{downstreamPercent})
	</insert>

	<!-- 删除 中下游水分配 -->
	<delete id="deleteMidAndDownStreamPercentPara" parameterType="String">
		delete
		from "a_MidAndDownStreamPercentPara" where
		"a_MidAndDownStreamPercentPara"."projectId" = #{value}
	</delete>
	
	<!-- 保存节水情景 -->
	<insert id="addSaveWater" parameterType="SaveWater">
		insert into "a_saveWater"
		values(#{projectId},#{countryId},#{savewater})
	</insert>
	
	<!-- 删除某个县区的节水情景数据 -->
	<delete id="deleteSaveWater" parameterType="ProjectIdAndCountyId">
			delete	from "a_saveWater" where
		"a_saveWater"."projectId" = #{projectId} and "a_saveWater"."countryId" = #{countryId}
	</delete>

</mapper>