<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smates.dbc2.mapper.WatershedParaDao">
	
	<!-- 保存气候情景参数 -->
	<insert id="addTblClimateScePara" parameterType="TblClimateScePara">
		INSERT INTO "a_tblClimateScePara"
		VALUES(#{projectId},#{countryId},#{rainInc},#{tempInc})
	</insert>
	
	<!-- 根据id删除气候情景参数 -->
	<delete id="deleteTblclimateSceParaById" parameterType="com.smates.dbc2.vo.ProjectIdAndCountyId">
		delete from "a_tblClimateScePara" where "a_tblClimateScePara"."projectId" = #{projectId} and "a_tblClimateScePara"."countryId" = #{countryId}
	</delete>

</mapper>